{% extends 'base.html' %}

{% block title %}
  Estudiants
{% endblock %}

{% block content %}
  <a href="{% url 'teachers' %}">PROFESSORAT</a>
  <br />
  <a href="{% url 'students' %}">ALUMNAT</a>
  <h1>INFORMACIÓ ALUMNAT TIC BARCELONA</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Rol</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
        <tr>
          <td>{{ student.nom }}</td>
          <td>student</td>
          <td>
            <a href="{% url 'student_detail' student.id %}">INFO</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
