{% extends 'base.html' %}

{% block title %}
  Professors
{% endblock %}

{% block content %}
  <a href="{% url 'teachers' %}">PROFESSORAT</a>
  <br />
  <a href="{% url 'students' %}">ALUMNAT</a>
  <h1>INFORMACIÓ PROFESSORAT TIC BARCELONA</h1>
  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Rol</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      {% for teacher in teachers %}
        <tr>
          <td>{{ teacher.nom }}</td>
          <td>{{ teacher.rol }}</td>
          <td>
            <a href="{% url 'teacher_detail' teacher.id %}">INFO</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
