<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pàgina d'inici</title>
  </head>
  <body>
    {% comment %} <h1>Benvingut{% if request.session.user_id %}, usuari {% endif %}</h1> {% endcomment %}
    <h1>Benvingut, {{ user.username }}!</h1>
    <p>Has iniciat sessió correctament.</p>
    <a href="{% url 'logout' %}"><button>Tancar Sessió</button></a>

    {% comment %} {% if request.session.user_id %}
      <a href="{% url 'logout' %}">Tancar sessió</a>
    {% else %}
      <a href="{% url 'login' %}">Iniciar sessió</a>
    {% endif %} {% endcomment %}
  </body>
</html>
